@model ClinicaVeterinaria.Models.Proprietario


@{
    ViewData["Title"] = "Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Dados do Proprietario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeProprietario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeProprietario)
        </dd>
       
       



    </dl>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-default">Details</a>
    <a asp-action="Index">Back to list</a>
</div>

